<!DOCTYPE html>
    <html>
    <head>
        <title></title>
    </head>
    <body>
       <form class="mt-5" >
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="name" placeholder="IPhone">
            <label for="name">Product Name</label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" id="description" placeholder="this is IPhone16">
            <label for="description">Product Description</label>
        </div>
        <button type="submit" class="btn btn-outline-primary mt-3">Create</button>
    </form>
    </body>
    </html>