<!DOCTYPE html>
<html>
<head>
    <title>Products Details</title>
</head>
<body>
    <h1 class="">All Products</h1>
    <ul class="list-group">
        @foreach (var product in Model)
        {
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">@product.Name</div>
                    @product.Description
                </div>
                <span class="badge bg-primary rounded-pill">3</span>
            </li>
        }
    </ul>
</body>
</html>